<ion-view title="Page" id="page1">
  <ion-content padding="true" style="background: url(img/mgKVeixR8iztsWdwr1Eg_DoNjc.png) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page2()" id="page-button1" class="button button-stable button-block">Tap me!</a>
    <a ui-sref="page4()" id="page-button3" class="button button-stable button-block">Tap me!</a>
    <a ui-sref="page3()" id="page-button2" class="button button-stable button-block">Tap me!</a>
  </ion-content>
</ion-view>